# data science
numpy<2.0.0
pandas==2.2.3
# scikit-learn==1.6.1 # Uncomment if you use sklearn

# API
fastapi
uvicorn

# plotting
matplotlib
seaborn

# validation & env
pydantic
python-dotenv

#testing
pytest

# NLP
nltk

# deep learning
torch==2.2.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

transformers==4.40.1   # HuggingFace Transformers
scikit-learn>=1.0,<2.0

# web scraping
beautifulsoup4        # HTML parsing
requests
google-cloud-storage
