# data science
numpy<2.0.0
pandas==2.2.3
scikit-learn==1.6.1 # Uncomment if you use sklearn

# API
fastapi
uvicorn

# plotting
matplotlib
seaborn

# validation & env
pydantic
python-dotenv

#testing
pytest

# NLP
nltk

# deep learning
torch                 # PyTorch for deep learning
transformers          # HuggingFace Transformers

# web scraping
beautifulsoup4        # HTML parsing
requests
google-cloud-storage

# Install the correct TensorFlow version
# Uncomment if you use TensorFlow
# tensorflow==2.16.2    # For both Intel and Apple silicon
# keras==3.8.0

# Google Cloud
# Uncomment if you use Google Cloud Storage
# google-cloud-storage
