
# data science
numpy<2.0.0
pandas==2.2.3

# API
fastapi
uvicorn[standard]

# plotting
matplotlib
seaborn

# validation & env
pydantic
python-dotenv

#testing
pytest

# NLP
nltk

# deep learning
torch==2.2.2
transformers==4.40.1
scikit-learn>=1.0,<2.0

# web scraping
beautifulsoup4
requests
google-cloud-storage
